/* {
  background-color: #FFFFFF;
  background-image: none;
  color: #333;
  font: 12px "Noto Sans", Arial, Helvetica, sans-serif;
}

body > div:nth-child(6) > div:nth-child(6) > div > div:nth-child(6) {
  margin-left: 5px;
}

body > div:nth-child(6) > div:nth-child(3) > div:nth-child(2) > div > div:nth-child(1) > div:nth-child(1) > div {
  top: 10px !important;
}

body > div:nth-child(6) > div:nth-child(6) > div > div:nth-child(5) {
  margin-top: 10px;
}

body > div:nth-child(6) > div:nth-child(6) > div > div:nth-child(5),
body > div:nth-child(6) > div:nth-child(6) > div > div:nth-child(7) {
  margin-left: 10px;
  margin-right: 5px;
}
*/

[widget-id="Catalog (Alt+1)"] > div:nth-child(2) {
    display: none;
}
[widget-id="Price List (Alt+2)"] > div:nth-child(2) {
    display: none;
}
[widget-id="Store (Alt+3)"] > div:nth-child(2) {
    display: none;
}
[widget-id="Customers (Alt+4)"] > div:nth-child(2) {
    display: none;
}

[widget-id="Warehouse (Alt+5)"] > div:nth-child(2) {
    display: none;
}

[widget-id="Reporting (Alt+8)"] > div:nth-child(2) {
    display: none;
}

[widget-id="Configuration (Alt+9)"] > div:nth-child(2) {
    display: none;
}

[widget-id="Catalog"] > div:nth-child(2) {
    display: none;
}
[widget-id="Price List"] > div:nth-child(2) {
    display: none;
}
[widget-id="Store"] > div:nth-child(2) {
    display: none;
}
[widget-id="Customers"] > div:nth-child(2) {
    display: none;
}

[widget-id="Warehouse"] > div:nth-child(2) {
    display: none;
}

[widget-id="Reporting"] > div:nth-child(2) {
    display: none;
}

[widget-id="Configuration"] > div:nth-child(2) {
    display: none;
}







[widget-id="Save (Ctrl+S)"] {
    left: 0 !important;
    background-color: #f5f9fc;
    width: 60px !important;
    height: 44px !important;
    border-radius: unset !important;
    border: 1px solid #EEE !important;
}
[widget-id="Save (Ctrl+S)"] > div:nth-child(1) {
  padding-top: 14px;
  margin-top: 4px;
  margin-left: 13px;
}
[widget-id="Save (Ctrl+S)"] > div:nth-child(2) {
    margin-left: 13px;
    color: #777777;
    font-size: 8px;
    letter-spacing: 0.17px;
}

[widget-id="SAVE"] {
    left: 0 !important;
    background-color: #f5f9fc;
    width: 60px !important;
    height: 44px !important;
    border-radius: unset !important;
    border: 1px solid #EEE !important;
}
[widget-id="SAVE"] > div:nth-child(1) {
  padding-top: 14px;
  margin-top: 4px;
  margin-left: 13px;
}
[widget-id="SAVE"] > div:nth-child(2) {
    margin-left: 13px;
    color: #777777;
    font-size: 8px;
    letter-spacing: 0.17px;
}


[widget-id="Save All (Ctrl+Shift+S)"] {
    background-color: #f5f9fc;
    width: 60px !important;
    height: 44px !important;
    left: 59px !important;
    border-radius: unset !important;
    border: 1px solid #EEE !important;
}
[widget-id="Save All (Ctrl+Shift+S)"] > div:nth-child(1) {
    padding-top: 14px;
    margin-top: 4px;
}
[widget-id="Save All (Ctrl+Shift+S)"] > div:nth-child(2) {
    color: #777777;
    font-size: 8px;
    letter-spacing: 0.17px;
}

[widget-id="SAVE ALL"] {
    background-color: #f5f9fc;
    width: 60px !important;
    height: 44px !important;
    left: 59px !important;
    border-radius: unset !important;
    border: 1px solid #EEE !important;
}
[widget-id="SAVE ALL"] > div:nth-child(1) {
    padding-top: 14px;
    margin-top: 4px;
}
[widget-id="SAVE ALL"] > div:nth-child(2) {
    color: #777777;
    font-size: 8px;
    letter-spacing: 0.17px;
}



[widget-id="Reloads Active Editor (Ctrl+R)"] {
    background-color: #f5f9fc;
    width: 60px !important;
    height: 44px !important;
    left: 118px !important;
    border-radius: unset !important;
    border: 1px solid #EEE !important;
}
[widget-id="Reloads Active Editor (Ctrl+R)"] > div:nth-child(1) {
    padding-top: 14px;
    margin-top: 4px;
    margin-left: 4px;
}
[widget-id="Reloads Active Editor (Ctrl+R)"] > div:nth-child(2) {
    margin-left: 4px;
    color: #777777;
    font-size: 8px;
    letter-spacing: 0.17px;
}


[widget-id="RELOAD"] {
    background-color: #f5f9fc;
    width: 60px !important;
    height: 44px !important;
    left: 118px !important;
    border-radius: unset !important;
    border: 1px solid #EEE !important;
}
[widget-id="RELOAD"] > div:nth-child(1) {
    padding-top: 14px;
    margin-top: 4px;
    margin-left: 4px;
}
[widget-id="RELOAD"] > div:nth-child(2) {
    margin-left: 4px;
    color: #777777;
    font-size: 8px;
    letter-spacing: 0.17px;
}
