/* {
  background-color: #FFFFFF;
  background-image: none;
  color: #333;
  font: 12px "Noto Sans", Arial, Helvetica, sans-serif;
}

body > div:nth-child(6) > div:nth-child(6) > div > div:nth-child(6) {
  margin-left: 5px;
}

body > div:nth-child(6) > div:nth-child(3) > div:nth-child(2) > div > div:nth-child(1) > div:nth-child(1) > div {
  top: 10px !important;
}

body > div:nth-child(6) > div:nth-child(6) > div > div:nth-child(5) {
  margin-top: 10px;
}

body > div:nth-child(6) > div:nth-child(6) > div > div:nth-child(5),
body > div:nth-child(6) > div:nth-child(6) > div > div:nth-child(7) {
  margin-left: 10px;
  margin-right: 5px;
}
*/

[widget-id="Catalog (Alt+1)"] > div:nth-child(2) {
    display: none;
}
[widget-id="Price List (Alt+2)"] > div:nth-child(2) {
    display: none;
}
[widget-id="Store"] > div:nth-child(2) {
    display: none;
}
[widget-id="Customers"] > div:nth-child(2) {
    display: none;
}

[widget-id="Warehouse"] > div:nth-child(2) {
    display: none;
}

[widget-id="Reporting"] > div:nth-child(2) {
    display: none;
}

[widget-id="Configuration"] > div:nth-child(2) {
    display: none;
}




[widget-id="Save"] {
  background-color: #f5f9fc;
  width: 60 !important;
}
[widget-id="Save (Ctrl+S)"] > div:nth-child(1) {
  padding-top: 14px;
  margin-top: 4px;
  margin-left: 10px;
}
/* [widget-id="Save (Ctrl+S)"] > div:nth-child(2) {
    margin-left: 10px;
}
 */
[widget-id="Save All (Ctrl+Shift+S)"] {
    background-color: #f5f9fc;
    width: 60px !important;
    left: 64px !important;
}
[widget-id="Save All (Ctrl+Shift+S)"] > div:nth-child(1) {
    padding-top: 14px;
    margin-top: 4px;
}
[widget-id="Reloads Active Editor (Ctrl+R)"] {
    background-color: #f5f9fc;
    width: 60px !important;
    left: 120px !important;
}
[widget-id="Reloads Active Editor (Ctrl+R)"] > div:nth-child(1) {
    padding-top: 14px;
    margin-top: 4px;
}
